---
import { skills, aboutMe } from '@/data.json'
import { Image } from 'astro:assets'
---

<section id='about' class='min-h-screen bg-white dark:bg-gray-900'>
  <div class='mx-auto grid max-w-screen-xl lg:grid-cols-12'>
    <div class='col-span-6 text-center text-4xl'>
      <h2>ABOUT ME</h2>
    </div>
    <div class='col-span-6 text-center text-4xl'>
      <h2>SKILLS</h2>
    </div>
  </div>
  <div
    class='mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0'>
    <div
      class='mr-auto place-self-start text-lg lg:col-span-6 [&_p:not(:last-child)]:mb-4'>
      <p>{aboutMe[0]}</p>
      <p>{aboutMe[0]}</p>
      <p>{aboutMe[0]}</p>
    </div>
    <div class='relative hidden lg:col-span-6 lg:mt-0 lg:block'>
      <div class='grid grid-cols-3 gap-y-3'>
        {
          skills.map(skill => (
            <div title={skill} class='flex justify-center'>
              <Image
                class='block w-16'
                src={`https://go-skill-icons.vercel.app/api/icons?i=${skill}&titles=true`}
                loading='lazy'
                width={50}
                height={50}
                alt={skill}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style></style>
